 *{
            color: blue;
        }
          header {
              color: red;
              background-color: blue;
          }
          .headerClass {
              color: green;
          }
          #headerId {
              color: black;
          }